In [1]:
import pandas as pd

In [2]:
df_pessoas = pd.read_excel('Formato Novo/pessoas_2022-2025.xlsx')

In [3]:
pd.set_option('display.max_columns', None)

In [47]:
df_pessoas

,id_sinistro,municipio,tipo_via,tipo_veiculo_vitima,sexo,idade,data_obito,gravidade_lesao,tipo_de vítima,faixa_etaria_demografica,faixa_etaria_legal,profissao,data_sinistro
0,1819301,Oriente,Rodovias,NaN,Masculino,35,NaT,Leve,Condutor,35 a 39,35-39,Conferente,2022-01-01
1,1473586,Ilha Comprida,Vias Municipais,NaN,Masculino,43,NaT,None,Condutor,40 a 44,40-44,Atendente,2022-01-01
2,1556174,Igarapava,Rodovias,NaN,Feminino,27,NaT,Leve,Condutor,25 a 29,25-29,Biomedico(A),2022-01-01
3,1538224,Sao Paulo,Vias Municipais,NaN,Masculino,20,NaT,None,None,20 a 24,18-24,NaN,2022-01-01
4,1904878,Leme,Vias Municipais,NaN,Masculino,44,NaT,Grave,None,40 a 44,40-44,Seguranca,2022-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
888987,2608847,Itapira,Vias Municipais,NaN,Masculino,31,NaT,None,Condutor,30 a 34,30-34,Motorista,2025-05-31
888988,2596088,Sao Paulo,Vias Municipais,NaN,Feminino,40,NaT,None,Condutor,40 a 44,40-44,Militar Na Ativa,2025-05-31
888989,2596982,Sao Paulo,Vias Municipais,NaN,Feminino,42,NaT,Leve,None,40 a 44,40-44,Vendedor(A),2025-05-31
888990,2602909,Teodoro Sampaio,Vias Municipais,NaN,Feminino,53,NaT,Leve,Condutor,50 a 54,50-54,Assistente Social,2025-05-31
888991,2600028,Mogi Das Cruzes,Vias Municipais,NaN,Feminino,37,NaT,None,Condutor,35 a 39,35-39,Do Lar,2025-05-31

In [35]:
df_pessoas = df_pessoas.drop(columns={
    'ano_sinistro',
    'mes_sinistro',
    'dia_sinistro',
    'ano_mes_sinistro',
    'ano_obito',
    'mes_obito',
    'dia_obito',
    'ano_mes_obito'
})

In [12]:
df_pessoas.gravidade_lesao.value_counts()

gravidade_lesao
Leve     398082
Grave     45332
Fatal     19491
Name: count, dtype: int64

In [9]:
df_pessoas.gravidade_lesao = df_pessoas.gravidade_lesao.str.title()

In [11]:
df_pessoas.gravidade_lesao = df_pessoas.gravidade_lesao.replace("Nao Disponivel", None)

In [20]:
df_pessoas['tipo_de vítima'].value_counts()

tipo_de vítima
Condutor      421046
Pedestre        4475
Passageiro      2198
Name: count, dtype: int64

In [18]:
df_pessoas['tipo_de vítima'] = df_pessoas['tipo_de vítima'].str.title()

In [19]:
df_pessoas['tipo_de vítima'] = df_pessoas['tipo_de vítima'].replace("Nao Disponivel", None)

In [25]:
df_pessoas.tipo_via.value_counts()

tipo_via
Vias Municipais    737218
Rodovias           150619
Name: count, dtype: int64

In [23]:
df_pessoas.tipo_via = df_pessoas.tipo_via.str.title()

In [24]:
df_pessoas.tipo_via = df_pessoas.tipo_via.replace("Nao Disponivel", None)

In [29]:
df_pessoas.municipio.value_counts()

municipio
Sao Paulo                208281
Ribeirao Preto            22575
Campinas                  22071
Guarulhos                 21543
Sao Jose Do Rio Preto     17788
                          ...
Flora Rica                   11
Nova Castilho                 8
Sao Joao De Iracema           8
Ribeirao Dos Indios           8
Uru                           3
Name: count, Length: 645, dtype: int64

In [28]:
df_pessoas.municipio = df_pessoas.municipio.str.title()

In [33]:
df_pessoas.profissao.value_counts()

profissao
Motorista                80718
Autonomo(A)              53091
Moto-Boy                 47553
Aposentado(A)            42335
Estudante                33850
                         ...
Protetico Dentario           1
Pintor De Obras              1
Ajustador Mecanico           1
Consultor Tecnico            1
Tecnico Em Radiologia        1
Name: count, Length: 579, dtype: int64

In [32]:
df_pessoas.profissao = df_pessoas.profissao.str.title()

In [40]:
df_pessoas.sexo.value_counts()

sexo
Masculino    638050
Feminino     249350
Name: count, dtype: int64

In [38]:
df_pessoas.sexo = df_pessoas.sexo.str.title()

In [39]:
df_pessoas.sexo = df_pessoas.sexo.replace("Nao Disponivel", None)

In [46]:
df_pessoas.dtypes

id_sinistro                          int64
municipio                           object
tipo_via                            object
tipo_veiculo_vitima                 object
sexo                                object
idade                                Int64
data_obito                  datetime64[ns]
gravidade_lesao                     object
tipo_de vítima                      object
faixa_etaria_demografica            object
faixa_etaria_legal                  object
profissao                           object
data_sinistro               datetime64[ns]
dtype: object

In [45]:
df_pessoas.idade = df_pessoas.idade.astype('Int64')

In [48]:
df_pessoas.to_excel("pessoas.xlsx")