In [4]:
import pandas as pd

In [5]:
pd.set_option('display.max_columns', None)

In [6]:
df_veiculos = pd.read_excel('Formato Novo/veiculos_2022-2025.xlsx')

In [18]:
df_veiculos.tipo_veiculo.value_counts()

tipo_veiculo
Automovel      320453
Motocicleta    275146
Caminhao        27675
Outros          21389
Onibus          16549
Bicicleta         389
Name: count, dtype: int64

In [15]:
df_veiculos.tipo_veiculo = df_veiculos.tipo_veiculo.str.title()

In [17]:
df_veiculos.tipo_veiculo = df_veiculos.tipo_veiculo.replace("Nao Disponivel", None)

In [22]:
df_veiculos.cor_veiculo.value_counts()

cor_veiculo
Preta                   159121
Branca                  121322
Prata                   116157
Vermelha                 85629
Cinza                    67419
Azul                     44861
Verde                    12883
Amarela                   6952
Branco                    5816
Bege                      4554
Vermelho                  3005
Laranja                   2666
Marrom                    2147
Roxa                      1934
Fantasia                  1045
Dourada                   1014
Rosa                       583
Amarelo                    415
Vermelha/Preta             193
Branca (Padrao Pm)         129
Grena                      125
Branca/Vermelha             90
Branca (Padrao Cpamb        77
Cinza Bandeirante           61
Cin/Ver/Pre                 54
Branca/Cinza Escuro         34
Não Informado               32
Branca (Padrao Cprv)        25
Cinza Pm (Padrao Rot        23
Branca Padrao Cptran        20
Branca/Cinza Bandeir        15
Sem Identificação           11
Camuflado Urbano             3
Camuflado Rural              2
Name: count, dtype: int64

In [21]:
df_veiculos.cor_veiculo = df_veiculos.cor_veiculo.str.title()

In [24]:
df_veiculos = df_veiculos.drop(columns={
    'ano_sinistro',
    'mes_sinistro',
    'dia_sinistro',
    'ano_mes_sinistro'
})

In [25]:
df_veiculos

,id_sinistro,ano_fab,ano_modelo,cor_veiculo,data_sinistro,tipo_veiculo
0,2264832,0.0,0.0,NaN,2022-01-01,None
1,1820312,0.0,0.0,NaN,2022-01-01,None
2,1948466,0.0,0.0,NaN,2022-01-01,None
3,1334206,2015.0,2016.0,Marrom,2022-01-01,Automovel
4,1510855,2016.0,2016.0,Cinza,2022-01-01,Automovel
...,...,...,...,...,...,...
757616,2607776,NaN,NaN,NaN,2025-05-31,Automovel
757617,2608697,2013.0,2013.0,Prata,2025-05-31,Automovel
757618,2608031,2009.0,2010.0,Prata,2025-05-31,Automovel
757619,2610195,2022.0,2023.0,Bege,2025-05-31,Motocicleta
757620,2610195,2024.0,2025.0,Laranja,2025-05-31,Automovel

In [26]:
df_veiculos.to_excel("veiculos.xlsx")